.ErrorNoticeWrapper {
    color: #333333;
    padding: 2rem;
}
.NotFound404 {
    opacity: 0.08;
    font-size: 6.25rem;
    line-height: 100%;
    margin: 0;
}
.NotFoundHeading {
    font-size: 2.5rem;
    line-height: 100%;
    margin: 0;
}
.NotFoundDetails {
    font-size: 1.25rem;
}