.WeatherDetailsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.WeatherIconWrapper {
    align-self: center;
}
.WeatherDataWrapper {
    align-self: flex-start;
}
@media only screen and (min-width:600px) {
    .WeatherDetailsWrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    .WeatherDataWrapper {
        align-self: center;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}