.InputFieldWrapper input {
    display: block;
    margin-top: .5rem;
    width: 100%;
    max-width: 280px;
    height: 48px;
    font-size: 1.875rem;
    line-height: 100%;
    color: #333333;
    border: none;
    border-bottom: 2px solid #d6d6d6;
}
.InputFieldWrapper input::placeholder {
    color: #adadad;
    opacity: 1; /* Firefox */
}
.InputFieldWrapper input:focus,
.InputFieldWrapper input:active {
    outline: none;
}
.InputFieldWrapper label {
    color: #606060;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: +.5px;
}