.Header {
    margin: 0;
    padding: .5rem 1.5rem;
    height: 100%;
    min-height: 2.5rem;
    background: #18B2D8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media only screen and (min-width:600px) {
    .Header {
        justify-content: center;
    }
}