.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F5FA;
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
}
@media only screen and (min-width:600px) {
    .Card {
        max-width: 472px;
        max-height: 246px;
    }   
}